/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   font-family: 'Slabo 27px', sans-serif;
   margin:0px;
 }

 input.text, input.input-text, input.password, input[type="text"], textarea, textarea.input-textarea, iframe.editor, select {
    border-radius: 6px;
    background: white;
    border: 1px solid #dad7d4;
    color: #020621;
    font-size: 14px;
    margin: 0;
    padding: 6px 5px;
    -webkit-font-smoothing: antialiased;
}

 .content {
   height: 100%;
 }
header{
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 3px solid black;
  background: pink;
}

.header-link{
  justify-content: flex-start;
  padding-left: 20px;
}
 nav {
   justify-content: flex-end;
   padding: 20px;
 }

 .header-group {
   justify-content: space-between;
   display: flex;
 }

 .header-name{
   font-weight: bold;
 }

 .new-project-link{
   font-weight: bold;
   margin: 20px;
 }

 .header-button{
   height: 20px;
   margin: 20px;
 }

 @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

 .fade-in {
   opacity:0;  /* make things invisible upon start */
   -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
   -moz-animation:fadeIn ease-in 1;
   animation:fadeIn ease-in 1;

   -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
   -moz-animation-fill-mode:forwards;
   animation-fill-mode:forwards;

   -webkit-animation-duration:0.5s;
   -moz-animation-duration:0.5s;
   animation-duration:0.5s;
 }

 .login-form-box {
   border: 4px grey;
   background: white;
   padding: 20px;
   border-radius: 20px;
   height: 100%;
   margin-top: 50px;
   margin-bottom: 50px;
 }


 .login-form-container {
   display: flex;
   justify-content: center;
   font-size: 1.5em;
   background: #eee;
   opacity: 0.1;
   height: 100%;
 }

 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   font-size: 1em;
 }

 .login-input {
   width: inherit;
   box-sizing: border-box;
   padding: 10px;
   font-size: 14px;
   line-height: 17px;
   border-radius: 6px;
   background: white;
   border: 1px solid #dad7d4;
   color: #020621;
 }

 .login-submit {
   background-color: #05AF3C;
   width: inherit;
   color: #FFFFFF;
   font-weight: bold;
   cursor: pointer;
   font-size: 1.4rem;
   line-height: 1;
   padding: 10px 20px;
   text-align: center;
   border-radius: 6px;
   border-style: none;
   -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
 }
 .login-submit:hover {
   background-color: black;
 }
 .login-submit:active {
   background-color: pink;
 }


 .guest-login {
   background-color: blue;
   color: #FFFFFF;
   font-weight: bold;
   width: inherit;
   cursor: pointer;
   font-size: 1.4rem;
   line-height: 1;
   padding: 10px 20px;
   text-align: center;
   border-radius: 6px;
   border-style: none;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
 }

 .guest-login:hover {
     background-color: white;
     color: red;
     font-weight: bolder;
 }
 .session-errors {
   padding: 0px;

 }
 .session-errors > li {
   background-color: red;
   color: #FFFFFF;
   font-weight: bold;
   width: 300px;
   font-size: 1.4rem;
   line-height: 1;
   padding: 10px;
   margin-left: 20px;
   border-style: none;
   list-style: none;
   justify-content: center;
   text-align: center;

 }
.project-form-background{
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  background: #eee;
  opacity: 0.1;
  height: 100%;
}
.project-form-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

 .grey-box{
   background-color: #F8F9FD;
   border-radius: 6px;
   display: block;
   line-height: 30px;
   margin: 0;
   padding: 4px;
   position: relative;
 }

.grey-box input.text, .grey-box input.input-text, .grey-box input.password, .grey-box input[type="text"], .grey-box textarea, .grey-box textarea.input-textarea, .grey-box iframe.editor, .grey-box select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    line-height: 18px;
    width: 100%;
    margin-top: 10px;
  }


  .grey-box textarea {
    height: 70px;
    vertical-align: top;
  }
  .grey-box p {
    font-size: .75em;
  }
